{% extends "base.html" %}

{% block content %}


{% if request.user.id == user.id %}
<a href = "{% url "home:create" %}" class = 'btn btn-primary'> Create Post </a>
{% endif %}
<h2 class = 'text-center'> {{ user.username }} </h2>

{% if request.user.id != user.id and not is_following %}

<a class = 'btn btn-primary' href = "{% url "account:follow" user.id %}"> follow </a>

{% elif request.user.id != user.id and is_following %}

<a class = 'btn btn-primary' href = "{% url "account:unfollow" user.id %}"> unfollow </a>

{% endif %}

<div class = 'card'>
    {% for post in posts %}
    <a href = {{ post.get_absolute_url }} class = 'card-body'> {{ post.body|truncatewords:8 }} </a>
    {% endfor %} 
</div>

{% endblock content %}